.page {
    min-width: 1100px;
    max-width: 1600px;   
    margin: 0 auto;   
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color: #F2F2F2 ;
}

.logo {
width: 154px;
height: 31px;
}

.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
}

.header__title { /*que aparezca delante de cualquier imagen o fondo REVISAR*/
    width: 730px;
    margin-left: 64px;
    align-self: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold; 
    z-index: 1;  
}

   .header__subtitle { /*que aparezca delante de cualquier imagen o fondo*/
    width: 388px;
    position: absolute;
    bottom: 30px; 
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal; 
    z-index: 1;  
}

   /*poner el header__link*/

   .header__square-pic {    
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px; 
    right: 0; 
}

   .header__main-illustration {
    width: 756px; 
    height: 608px;
    position: absolute;
    bottom: 0; 
    right: 0;
}
   
 

/* incluidos aquellos con modificadores clave-valor */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}